{% extends 'mysite/base.html' %}

{% block content %}

    <style>
    html {
        background-image: url('https://img.huffingtonpost.com/asset/5900c770260000bd9ac47d4d.jpeg?cache=z8ZC5rulQv&ops=scalefit_720_noupscale&format=webp');

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    </style>

<p>{{ scenario }}</p>
<p><em>Will you press the button?</em></p>
<form action="/button/results" method="post">
    {% csrf_token %}
    <input type="hidden" id="pressed" name="pressed" value="on"/>
    <input type="hidden" id="scid" name="scid" value="{{ scid }}"/>
    <button type="submit"><strong class="button redbutton">Yes</strong></button>
</form>
<form action="/button/results" method="post">
    {% csrf_token %}
    <input type="hidden" id="scid" name="scid" value="{{ scid }}"/>
    <button type="submit"><p class="button">No</p></button>
</form>
{% endblock %}